<!DOCTYPE html>
<html class="no-js">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Sign UP!</h1>

    <form action="/auth/register" method="POST">
        <input type="text" name="firstName" placeholder="First">
        <input type="text" name="lastName" placeholder="Last">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="checkbox" name="isTechnical" value="true" placeholder="isTechnical">
        <label>Click box if technical founder</label>
        <button>Submit</button>
    </form>

    <script src="" async defer></script>
</body>

</html>