html,
body {
  height: 100%;
  position: relative;
}

/*****************
 ABOUT
*****************/

#main-section {
  width: 80%;
  min-height: 100%; /* will cover the 100% of viewport */
  overflow: auto;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

#about {
  font-size: 28px;
  display: flex;
  flex-direction: row;
  width: 40%;
  float: right;
}

#description p {
  float: right;
  padding-top: 60px;
}

#create-profile {
  font-size: 36px;
  text-align: center;
}

#user-role {
  display: inline-flex;
  flex-direction: column;
  float: left;
  margin: 60px 200px 0 250px;
}

.is-dark {
  margin: 20px;
}

#log-in {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  float: left;
  vertical-align: middle;
  overflow: hidden;
}
