.footer {
  position: static; /* this keeps footer at bottom of page and doesn't overlap content */
  bottom: 0;
  width: 100%;
  height: 80px;
  /* padding-top: 40px; */
  vertical-align: middle;
}

.footer h3 {
  position: relative;
  margin: 0 auto;
}
