.list-item-container {
  margin-bottom: 2rem; }

.connect-header-container {
  margin: 1.5rem auto; }

/* Handles the switch between pending view and remove request */
.button-container :nth-child(2) {
  display: none; }

.button-container:hover :nth-child(1) {
  display: none; }

.button-container:hover :nth-child(2) {
  display: inherit; }
