#site-title {
    margin-left: 5%;
    margin-right: 30%;
    width: 10%;
    font-weight: bold;
}

.container-fluid {
    padding-bottom: 3rem;
    background-color:#0737ea;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    padding-right: 1rem;  
    color: white;  
}

.container-fluid h1 {
    font-size: 6em;
}

#logo-image {
    display: flex;
    vertical-align: middle;
}

/****************
 LOG IN AREA
****************/

#username, #password {
    width: 60%;
    /* margin: 20px;   */
    margin: 1rem;
    line-height: 40px;
    font-size: 28px; 
    padding-left: 1rem;
    border-radius: 5px;
}

#log-in button {
    font-size: 28px;
    border-radius: 5px;
}

#log-in h2 {
    /* margin-top: 50px; */
    margin-top: 2rem;
}
